#bear:hover #left-ear {
  transform: translateY(-10px);
}

#bear:hover #right-ear {
  transform: translateY(-10px);
}

#left-ear, #right-ear {
  transition: all .5s linear;
}

#left-eye, #right-eye {
  animation: pulse 1.5s linear infinite;
}

@keyframes pulse {

  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }

}
